// views
@import "./views/home";
@import "./views/major";
@import "./views/americas";
@import "./views/asia";
@import "./views/galeria";
@import "./views/europe-a";
@import "./views/europe-b";
@import "./views/support";

// partials
@import "./partials/footer.scss";
@import "./partials/equipos.scss";
@import "./partials/jugadores.scss";
@import "./partials/mapas.scss";

// misc
@import "./misc/normalize";
@import "./misc/var"