/* home */

*{
    margin: 0%;
    padding: 0%;

}

.logosEquipos{
    margin: 0%;
    padding: 0%;
    width: 75px;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

.titulos{
    margin: 0%;
    padding: 0%;
    border: 4px solid #342D63;
    color:white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    background-color: #342D63;
}

.imgTITLE{
    height: 35px;
    width: 40px;
    margin-right: 0.5%;
    margin-top: 0.2%;
    
}

.titulochico{
    color:black;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    margin: 1%;
    margin-top: 2%;
}

.subtitulos li a{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: #342D63;
    text-decoration: none;
}

 /*barra*/
 .topnav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #342D63;
    text-align: center;

  }

  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 26px;

  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #342D63;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    display: none;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
  }
  
  /* colores pasando el mouse */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a green background color to the active link */
  .navbar a.active {
    background-color: #04271a;
    color: white;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }


.textoDescrip{
    font-family: 'Mukta', sans-serif;
    font-size: 17px;
    text-align: justify;
    margin: 1%;
    font-weight: bold
}

.majorlogo{
    width: 60%;
    margin-right: 15%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* pie de pag*/
.pie{
    text-align: center;
    color: white;
    font-family: 'Patua One', cursive;
    font-size: 15px

}

.lugar{
    padding: 0%;
    margin: 1%;

}

.logosMajor{
    margin: 0%;
    padding: 0%;
    width: 50px;
    border: 4px solid #342D63;
    background-color: #342D63;
}


.mapas{
    padding: 0%;
    margin: 1%;
    
}

.formato{
    margin: 10px;
    font-family: 'Mukta', sans-serif;
    font-size: 17px;
    text-align: justify;
    font-weight: bold
}

/*soporte*/ 

.formulario{
    display: grid;
    margin: 0%;
    padding: 30px;
    box-sizing: border-box;
    width: 380px;
    margin: auto;
    margin-top: 100px;
    background: #0C7687;
    font-family: 'Libre Baskerville', serif;
    font-size: 400;
    border-radius: 4px;
    text-align: center;
}

.soporte{
    text-align: center;
    margin-left: 40%;
}

.supp{
    background-image: url(./img/fondo.png);
}
.sup{
    padding: 0%;
    width: 550;
}
.rellenar{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid #342D63
    
}

.terminos{
    color: black;
    text-decoration: none;
}
.boton{
    width: 100%;
    padding: 2px;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
    font-family: 'Libre Baskerville' , serif;
    }

    /*Fin formulario*/ 

.tagEquipos{
    color: black;
    font-family: 'Patua One', cursive;
    font-size: 35px;
    margin-left: 0%;
    margin-top: 10%;
           
}

.gridTeams{
    display: grid;
    grid-template-areas: "auto auto auto auto";
    align-items: center;
    
}

section div{
    text-align: center;

}

.logosup{
    color: black;
    text-align: center;
    text-decoration: none;
}
.pie2{
    text-decoration: none;
    color: blue;
}

.indeximg{
    display: grid;
    grid-template-areas: "auto auto auto";
}
/*GALERIA*/

body {
    background-image: linear-gradient(to right, #097263, #0B7865, #247845, #267C3B, #218036, #0F2F2C);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 0px 0;
}

.container.gallery-container {
    background-color: #0C7687;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    margin-top: 30px
}

.gallery-container h1 {
    text-align: center;
    margin-top: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

       /*EMPIEZA MEDIA*/
@media(max-width: 1440px){
    .indeximg{
        grid-template-areas: "auto auto";
    }
}

@media(max-width: 1023px) {
    body {
        padding: 0;
    }
    .gridTeams{
        grid-template-areas: "auto auto";
    }
    .container.gallery-container {
        border-radius: 0;
    }
    .mapas{
        width: 550px;
    }
    .indeximg{
        width: 100%;
        grid-template-areas: "auto";
    }
    .majorlogo{
        max-width: 550px;
    }
    .lugar{
        width: 550px;
    }
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        display: none;
    }
    .navbar {
        display: block;
    }
    .navbar a{
        display: block;
    }
    @media(max-width: 768px){

    .mapas{
       width: 380px;
    }
    .lugar{
        width: 380px;
    }
    .gridTeams{
        grid-template-areas: "auto";
    }
    .indeximg div img{
        width: 386px;
    }
    

    }
}

      /*TERMINA MEDIA*/ 
#baguetteBox-overlay .full-image img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%;
    vertical-align: middle;
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
}


/*NOTICIAS*/
div.noticias{
    display: flex;
    justify-content: center;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

div.noticias div{
    width: 300px;
}

div.noticias div.desc{
    background-color:  #6343a6;
    padding: 0px;
    box-shadow: 5px 4px 4px black;
    border-radius: 7px
    
}

div.noticias div img{
    width: 100%;
    position: relative;
    box-shadow: 5px 4px 4px black;
    border-radius: 10px
    
}

div.noticias div h1{
    font-size: 20px;
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}

.NOTI{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: justify;
    margin: 10px;
}

.titleNOT{
    color:black;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    margin: 1%;
    margin-top: 1%;
    
}

