.rosterTEAMS{
    text-align: center;
    font-size: 35px;
    color: black;
    font-family: 'Gelasio', serif;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

.carta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 7px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 7px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #1B3E6E;
}

.card .front h4{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.6);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #1B3E6E;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 7px black;
}

.card .back .h4{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back .p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.card .back img{
    position: center;
    width: 65px;
    height: 24%;
    margin: auto;
}

@media(max-width: 1440px){
    
    .carta .card{
        width: 200px;
        height: 200px;
    }
}

@media(max-width: 1023px){
    .carta .card{
        width: 150px;
        height: 150px;
    }
}

@media(max-width: 768px){
    .carta{
        display: flex;
        flex-direction: column;
    }

    .carta .card .face .back{
        width: 75px;
        height: 75px;
    }
}