.pie{
    text-align: center;
    color: white;
    font-family: 'Patua One', cursive;
    font-size: 15px

}

section div{
    text-align: center;

}

.logosup{
    color: black;
    text-align: center;
    text-decoration: none;
    margin-top: 1%;
}
.pie2{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}