.formulario{
    display: grid;
    margin: 0%;
    padding: 30px;
    box-sizing: border-box;
    width: 380px;
    margin: auto;
    margin-top: 100px;
    background: #086d7c;
    font-family: 'Libre Baskerville', serif;
    font-size: 400;
    border-radius: 4px;
    text-align: center;
}

.soporte{
    text-align: center;
    margin-left: 40%;
}

.supp{
    background-image: url(../img/fondo.png);
}
.sup{
    padding: 0%;
    width: 550;
}
.rellenar{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid #342D63
    
}

.terminos{
    color: black;
    text-decoration: none;
}
.boton{
    width: 100%;
    padding: 2px;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
    font-family: 'Libre Baskerville' , serif;
    }